/* font relawey (para os conteúdos de textos dos parágrafos)  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

/* OBS:
A FUNÇÃO [data-theme="dark"] ALTERA O CONTEÚDO PARA O MODO ESCURO. */

/* estilo do menu lateral (feito pelo audi) */

:root {
    --CormenuLateral: #EFF7F0;
    --CorPreto: black;
    --CorBranca: white;
    --CorVerdeClaro: #44833D;
    --CorCinzaEscuro: #b0b0b1;
    --CorCinzaMaisClaro: #ccc;
    --CorLaranjaClaroParaFonteDosaccordion: #664d03;
    /* cores do estado */

    /* CORES DOS TITULOS  */
    --CorSubSubtopico: rgb(86, 161, 86);
    --CorSubtopico: rgb(39, 156, 61);


    /* modo escuro */
    --color-light-50: #f8fafc;
    --color-dark-50: #797984;
    --color-dark-100: #29292B;
    --color-dark-900: #231F20;
    --color-green: #44833D;
    --color-ciano: #2db39e;
    --color-ciano2: rgb(14, 149, 129);

    /* modo escuro - accordion*/
    --RoxoEscuroImportante: #6022AF;
    --RoxoClaroImportante: #E7D7F5;

    --VermelhoEscuroFiqueAtento: #570000;
    --VermelhoClaroFiqueAtento: #FAD3D3;

    --VerdeEscuroReflita: #123901;
    --VerdeClaroReflita: #C2D4BB;

    --RosaEscuroExemplo: #96005C;
    --RosaClaroExemplo: #FFCCEB;

    --AzulEscuroSaibaMais: #022492;
    --AzulClaroSaibaMais: #C6CAFF;


    /* cor dos accordions */
    --CorAccordionImportante: #f18519;
    --CorAccordionImportanteMaisClaro: #ff7f0033;


    /* cor dos accordions */
    --CorAccordionImportante: #f18519;
    --CorAccordionImportanteMaisClaro: #ff7f0033;
    /* fontes */
    --FonteArial: Arial, Helvetica, sans-serif;
    --FonteRaleway: 'Raleway', sans-serif;
    --FonteVerdana: Verdana, Geneva, Tahoma, sans-serif;
    /*  */
}

a {
    text-decoration: none;
    color: #4a71f1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.1s;
}

body {
    margin: 0;
    background-color: var(--white);
    max-width: 100%;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #e9e9e9;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(173, 173, 173);
    border-radius: 10px;
}

/* aqui eu defini algumas propriedades que "ajudam" a nav a ficar animada --jayron-- */
#navmenu {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    z-index: 4;
    transition: 0.5s;
}

/* fim da nav animada */

/* INÍCIO DAS CONFIGURAÇÕES DO MENU LATERAL */
/* img logo da egp */
#logo {
    width: 60px;
    height: auto;
    margin-bottom: 10px;
    transition: all 0.3s;
}

.menulateral:hover #logo {
    width: 160px;
    height: auto;
    margin-top: 10px;
    margin-left: 3rem;
}

/* fim do estilo da img */

.menulateral {
    width: 80px;
    height: 100%;
    background-color: #EFF7F0;
    padding: 40px 0px 40px 1%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.3s;
    z-index: 999;
}

ul {
    list-style: none;
}

ol {
    margin: 30px 0;
}

ol li {
    font-family: var(--FonteRaleway);
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

[data-theme="dark"] ol li {
    color: white;
}

[data-theme="dark"] .list li {
    color: white;
}

.list li {
    font-family: var(--FonteRaleway);
    font-size: 1.2rem;
    margin-top: 5px;
}


[data-theme="dark"] ul li.menu a {
    color: var(--color-light-50);
}

ul li.menu a {
    color: #44833D;
    text-decoration: none;
    font-size: 21px;
    padding: 10px 0%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 0.1s;
    height: fit-content;
    width: 100%;
}

.menulateral ul {
    padding-left: 0px !important;
    width: 105% !important;
    position: relative;
    right: 5%;
}

ul li.menu a .txt {
    margin-left: 2.5rem;
    display: flex;
    text-align: left;
    width: 100%;
    /* border: 1px solid red; */
}

@media screen {
    @media(max-width: 400px) {
        ul li.menu a .txt {
            margin-left: 0.5rem;
        }

        ul li.menu a .txt {
            margin-left: 0.5rem;
        }
    }
}

ul li.menu a {
    padding-left: 20px;
}

ul li.menu a .icon>i {
    font-size: 25px;
}

ul li.menu a:hover {
    color: #ffff;
    background-color: #1a9c60;

}

[data-theme="dark"] ul li.menu a:hover {
    background-color: #3be3e2;
}

/* (transition) no CONTEÚDO PRINCIPAL  */
.all-conteudo {
    transition: 0.1s;
}

.menulateral:hover~.all-conteudo {
    margin-left: 100px;
}

.menulateral:hover {
    width: 280px;
    z-index: 6;
    overflow-y: auto;
}

.menulateral:hover::-webkit-scrollbar {
    width: 7px;
}

.menulateral:hover::-webkit-scrollbar-track {
    background: #EFF7F0;
}

.menulateral:hover::-webkit-scrollbar-thumb {
    background-color: rgb(185, 185, 185);
    border-radius: 10px;
}

/* ESTILO DO MENU RESPONSIVO */

.offcanvas {
    max-width: 70%;
    padding-left: 0 !important;
    margin-left: 0 !important;
    background-color: var(--CormenuLateral);
}

/* LOGO EGP RESPONSIVO */

.offcanvas-header a>img {
    position: relative;
    left: 2em;
}

/* ESTILO BOTÃO FECHAR */
.offcanvas-header>.btn-close {
    position: relative;
    bottom: 30%;
    color: #198754 !important;
}

/* MENU LATERAL RESPONSIVO CONTEÚDO */
.offcanvas-body>.menulateral-responsivo>ul {
    width: 111% !important;
    padding-left: 1px !important;
    margin-left: 0 !important;
    position: relative;
    right: 6%;
}

.offcanvas-body {
    overflow-x: hidden;
}

.offcanvas-body::-webkit-scrollbar {
    width: 7px;
}

.offcanvas-body::-webkit-scrollbar-track {
    background: #EFF7F0;
}

.offcanvas-body::-webkit-scrollbar-thumb {
    background-color: rgb(185, 185, 185);
    border-radius: 10px;
}

.dropdown-btn {
    text-decoration: none;
    color: #44833D;
    display: block;
    border: none;
    background: none;
    width: 100%;
    cursor: pointer;
    outline: none;
}

.dropdown-btn .menu:hover {
    color: white;
}

.dropdown-container {
    display: none;
}

.dropdown-container a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: #44833D;
    width: 100%;
    font-size: 18px;
    margin-bottom: 0.7rem;
    cursor: pointer;
    position: relative;
    padding-left: 1.2em;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
}

[data-theme="dark"] .dropdown-container a {
    color: white;
}

.dropdown-container a:hover {
    color: white;
    background-color: #1a9c60;
    height: auto;
}

[data-theme="dark"] .dropdown-container a:hover {
    background-color: #3be3e2;
}

.circulo {
    margin-right: 2em;
}

.barra-sub {
    /* margin-left: 53px; */
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

[data-theme="dark"] ul li.menu a:hover {
    color: rgb(0, 0, 0);
}

ul li.menu a.ativo {
    border-right: 5px solid #44833D;
}

[data-theme="dark"] ul li.menu a.ativo {
    border-right: 6px solid #1ab6b6;
}

[data-theme="dark"] .dropdown-toggle {
    color: white;
}

[data-theme="dark"] .dropdown-toggle:hover {
    color: rgb(192, 185, 185);
}

/* FIM DAS CONFIGURAÇÕES DO MENU LATERAL */


/* estilos gerais */

[data-theme="dark"] .btn {
    color: var(--color-light-50);
    border: 1px solid white;
}

[data-theme="dark"] .btn:hover {
    border: 1px solid #198754;
    transition: 0.2s;
}

.nonedec {
    text-decoration: none;
    color: #b0b0b1;
    margin-left: 10px;
}

[data-theme="dark"] .nonedec:hover {
    color: #98989b;
}

.nav {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
}

.btn {
    transition: 0.5s;
}

/* estilo do container de apresentação */

h2 {
    margin-left: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    color: #44833D;
    font-weight: bolder;
}

/* estilo do conteudo da primeira pagina */

hr {
    margin-left: 5px;
}

.main-content {
    padding: 100px 50px 50px;
}

.main-content p {
    font-size: 20px;
    font-family: var(--FonteRaleway);
    margin-left: 5px;
}

.main-content .FonteMenor {
    font-size: 0.9rem;
    font-family: var(--FonteArial);
    margin-top: 0.2rem;
}

.main-content>#FonteFigura p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: -100px;
}

.dropdown-menu {
    background-color: var(--color-green);
    color: white;
    transition: 0.5s;
    width: 80%;
    margin-right: -2rem !important;
    margin-left: 2rem !important;
    position: fixed;
}

[data-theme="dark"] .dropdown-menu {
    background-color: var(--color-ciano);
}

/* INÍCIO DO ESTILO DO ACCORDION */
.container {
    min-height: 20vh;
    position: relative;
    display: flex;
    justify-content: center;
    font-family: 'Raleway' !important;
    margin-bottom: 2rem;
    cursor: pointer;
}

.accordion {
    width: 1000px;
    /*define o tamanho do acordeon*/
    margin: 40px 10px 0px 10px;
    /*coloquei o top só para tirar lá de cima e nas laterais para no reponsivo não grudar na tela*/
}

.accordion #content .caixaprincipal {
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    /*linha de baixo da caixa principal*/
    font-size: 1.4em;
    padding-left: 1rem;
    border-radius: 7px 7px 0px 0px;
}

.div_teste {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.txt-aviso {
    display: block;
    padding: 10px;
    display: flex;
    justify-content: center;
}

/* Inicialmente, oculta .txt-caixasecundaria */
.accordion-content .txt-caixasecundaria {
    display: none;
}

/* CORES DOS DIFERENTES DOS ACCORDIONS */


/* CAIXA IMPORTANTE */
.accordion #content .caixaprincipal#tituloimportante {
    background-color: #f18519;
    /*cor da caixa principal importante*/
    color: #fffffee0;
    /*cor da palavra na caixa principal*/
}

[data-theme="dark"] .accordion #content .caixaprincipal#tituloimportante {
    background-color: var(--RoxoEscuroImportante);
    color: var(--color-light-50);
}

[data-theme="dark"] #importante {
    background-color: var(--RoxoClaroImportante);
    color: black;
}

[data-theme="dark"] #importante p {
    color: #040504;
}

#importante {
    background-color: #edb00929;
}

/* CAIXA FIQUE ATENTO */
.accordion #content .caixaprincipal#titulofiqueatento {
    background-color: #edb009;
    /*cor da caixa principal fique atento*/
    color: #ffffffe0;
}

[data-theme="dark"] .accordion #content .caixaprincipal#titulofiqueatento {
    background-color: var(--VermelhoEscuroFiqueAtento);
    color: var(--color-light-50);
}

[data-theme="dark"] #fiqueatento {
    background-color: var(--VermelhoClaroFiqueAtento);
    /*cor da caixa secundaria fique atento */
}

[data-theme="dark"] #fiqueatento p {
    color: #040504;
}

#fiqueatento {
    background-color: #edb00929;
}

/* CAIXA REFLITA */
[data-theme="dark"] .accordion #content .caixaprincipal#tituloreflita {
    background-color: var(--VerdeEscuroReflita);
    color: var(--color-light-50);
}

.accordion #content .caixaprincipal#tituloreflita {
    background-color: #3be3e2;
    /*cor da caixa principal reflita*/
    color: #feffffe0;
}

[data-theme="dark"] #reflita {
    background-color: var(--VerdeClaroReflita);
    /*cor da caixa secundaria reflita */
}

[data-theme="dark"] #reflita p {
    color: #040504;
}

#reflita {
    background-color: #3be3e229;
}

/* CAIXA EXEMPLO */
[data-theme="dark"] .accordion #content .caixaprincipal#tituloexemplo {
    background-color: var(--RosaEscuroExemplo);
    color: var(--color-light-50);
}

.accordion #content .caixaprincipal#tituloexemplo {
    background-color: #49d199;
    /*cor da caixa principal reflita*/
    color: #ffffffe0;
}

.accordion-content,
#exemplo {
    background-color: #49d19929;
    /*cor da caixa secundaria importante */
}

[data-theme="dark"] #exemplo {
    background-color: var(--RosaClaroExemplo);
    /*cor da caixa secundaria reflita */
}

[data-theme="dark"] #exemplo p {
    color: #040504;
}


/* CAIXA SAIBA MAIS */
[data-theme="dark"] .accordion #content .caixaprincipal#tituloSaibaMais {
    background-color: var(--AzulEscuroSaibaMais);
    color: var(--color-light-50);
}

.accordion #content .caixaprincipal#tituloSaibaMais {
    background-color: #3be3e2;
    /*cor da caixa principal reflita*/
    color: #ffffffe0;
}

[data-theme="dark"] #saibamais {
    background-color: var(--AzulClaroSaibaMais);
}

#saibamais {
    background-color: #d8f6fa;
    /*cor da caixa secundaria importante */
}

.accordion #content .caixaprincipal#tituloexemplo {
    background-color: #49d199;
    /*cor da caixa principal reflita*/
    color: #ffffffdc;
}

[data-theme="dark"] #saibamais {
    background-color: var(--AzulClaroSaibaMais);
    /*cor da caixa secundaria reflita */
}

[data-theme="dark"] #saibamais p {
    color: #040504;
}

/* CAIXA CURIOSIDADES */
.accordion #content .caixaprincipal#tituloCuriosidade {
    background-color: #a042e5;
    /*cor da caixa principal curiosidade*/
    color: #fffffff6;
    /*cor da palavra na caixa principal*/
}

#Curiosidade p {
    color: black;
    /*cor da caixa secundaria curiosidade */
}

#Curiosidade {
    background-color: #a02bf529;
    /*cor da caixa secundaria curiosidade */
}

[data-theme="dark"] .accordion #content .caixaprincipal#tituloCuriosidade {
    background-color: #33beaa;
}

[data-theme="dark"] #Curiosidade {
    background-color: #ade7df;
}

/*  FIM CAIXA CURIOSIDADES */

/* estilo do pointer dos accordion */

.accordion-content {
    /* Separei os paddings laterais para não gerar estranheza nas transições */
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ff7f0033;
    border: none;
    /*linha de baixo da caixa principal*/
    margin-bottom: 0;
    border-radius: 0px 0px 7px 7px;

    /* Para esse tipo de transição suave, é melhor usar height do que display,
  porém não sei pq diabos o height não funcionou direito com o atributo visibility
  então usei max-height e deu basicamente num resultado melhor*/
    /* max-height: 0; */
    /* Defini que atributos deveriam ser alterados mais suavemente 
  (note que especifiquei os paddings verticais, novamente para não chegar um efeito estranho) */
    transition: height 0.5s, max-height 0.5s, padding-bottom 0.5s, padding-top 0.5s;
}

/* .accordion-content>p {
    font-size: 10px;
} */

.accordion-content * {
    /* isso aqui foi importante colocar pq, como não estou display,
o estado inicial de height 0 manteria o texto aparecendo */
    /* visibility: hidden; */
    /* transição aqui para o texto não sumir/aparecer antes da caixa diminuir/aumentar*/
    transition: 0.1s;
}

.accordion #content .caixaprincipal:hover~.accordion-content {
    /* 
  novamente: não tenho ideia pq não funcionou direito com o
  height, mas normalmente você colocaria height 0 ao invés de max-height 0
  e height auto aqui, no lugar de max-height 1000
  🤨🤨🤨

  não precisa necessariamente ser 1000, qualquer número quando o suficiente para
  não limitar o tamanho que você quer já está otimo
  */
    max-height: 1000px;

    /* esse padding aqui poderia ser substituido por padding-bottom 20 e padding-top 20, porem assim fica com menos uma linha*/
    padding: 20px;

}

.accordion #content .caixaprincipal:hover~.accordion-content * {
    visibility: visible;
    /* font-size: 20px; */
}

/* Quando hover na .caixaprincipal, exibe .txt-aviso e oculta .txt-caixasecundaria */
.accordion #content .caixaprincipal:hover~.accordion-content .txt-aviso {
    display: none;
}

/* Quando hover na .caixaprincipal, exibe .txt-caixasecundaria e oculta .txt-aviso */
.accordion #content .caixaprincipal:hover~.accordion-content .txt-caixasecundaria {
    display: block;
}

/* Para quando hover no accordion-content tbm ocorrer a transição */
.accordion-content:hover .txt-caixasecundaria {
    display: block;
}

.accordion-content:hover .txt-aviso {
    display: none;
}

.accordion-content:hover {
    max-height: 1000px;
    padding: 20px;
}


@media (max-width: 735px) {
    .accordion-content * {
        visibility: visible;
    }

    .accordion-content {
        max-height: none;
        padding: 20px;
        visibility: visible;
        transition: none;
    }

    .accordion a:hover~.accordion-content * {
        visibility: visible;
    }

    .txt-aviso {
        display: none;
    }

    .accordion-content .txt-caixasecundaria {
        display: block;
    }

    #icon-pointer {
        display: none;
    }

    ul li.menu a .txt {
        margin-left: 0.5rem;
    }
}

/* FIM DO ESTILO DO ACCORDION */


/* estilo da tabela */
.table {
    font-weight: lighter;
    font-size: 1.2rem;
}

/* estilo da pagina do primeiro modulo */
.bd-callout {
    border: 1px solid #cccccc9a;
    border-left: 5px solid #44833D;
    border-radius: 7px;
    padding: 1.5rem;
}



.text-center .text {
    color: #b0b0b1;
    font-family: Arial, Helvetica, sans-serif;
}

/* ---------------------- início do menu lateral responsivo --jayron-- ------------------------- */
@media (min-width: 735px) {

    .offcanvas.hiding,
    .offcanvas.show,
    .offcanvas.showing {
        visibility: hidden;
        display: none;
    }
}

@media (max-width: 735px) {
    .menulateral {
        display: none;
        color: rgb(39, 79, 35);
    }

    ul li.menu a.ativo {
        border-right: 6px solid #44833D;
    }

    .nav-link {
        display: none;
    }

    #img_logo {
        width: 150px;
    }
}

form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;

}

@media (max-width: 386px) {
    #moodle {
        display: none;
        visibility: hidden;
    }
}

/* ---------------------- fim do menu lateral responsivo --jayron-- ------------------------- */


/* INÍCIO DO BOTÃO DO MODO ESCURO */
#btn_tema {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: var(--color-ciano);
    color: var(--color-light-50);
    border-radius: 8px;
    width: 135px;
    height: 34px;
    cursor: pointer;
    box-shadow: 0px 4px 0px var(--color-ciano2);
    transition: all 75ms ease-in-out;
    margin-top: -3px;
    border: none;
}

#btn_tema:active {
    transform: translateY(0.6px);
    box-shadow: 0px 0px 0px var(--color-ciano2);
}

/* FIM DO BOTÃO DO MODO ESCURO */


/*CONFIGURAÇÃO DE ALGUNS ELEMENTOS NO MODO ESCURO */

[data-theme="dark"] #btn_menu .fa-solid {
    color: var(--color-light-50);
}

#btn_menu .fa-solid {
    color: #274f23;
}

[data-theme="dark"] {
    --white: #29292B;
    --black: #fff;
}

[data-theme="dark"] #txt_final {
    color: var(--color-light-50);
}

#txt_final {
    color: black;
}

[data-theme="dark"] .offcanvas-body {
    background-color: var(--color-dark-900);
}


[data-theme="dark"] .offcanvas-header {
    background-color: var(--color-dark-900);
}

[data-theme="dark"] .menulateral {
    background-color: var(--color-dark-900);
}

[data-theme="dark"] #navmenu {
    background-color: var(--color-dark-100);
}

[data-theme="dark"] p {
    color: var(--color-light-50);
}

[data-theme="dark"] .none {
    color: var(--color-light-50);
}

[data-theme="dark"] h2,
.Titulo {
    color: var(--color-light-50);
}

h2,
.Titulo {
    color: var(--color-green);
}

.Subtopico {
    color: var(--CorSubtopico);
    margin: 30px 0;
    border-bottom: 1px solid rgb(185, 185, 185);
    padding-bottom: 20px;
}

.subsubtopico {
    color: var(--CorSubSubtopico);
    font-size: 25px;
    border-bottom: 1px solid rgb(185, 185, 185);
    padding-bottom: 10px;
    margin: 20px 0;
}

[data-theme="dark"] .Subtopico {
    color: white;
}

.none {
    color: #040504;
}

[data-theme="dark"] .none1 {
    color: var(--color-light-50);
}

.none1 {
    color: #040504;
}

[data-theme="dark"] #txt_referencias {
    color: var(--color-light-50);
}

/* BOTÃO CLOSE MENU RESPONSIVO (Audi)*/
[data-theme="dark"] .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);

}

/*FIM DA CONFIGURAÇÃO DO MODO ESCURO*/

/* EFEITO DE ZOOM NA IMAGEM ADAPTADO (AUDI) */
.zoom {
    overflow: hidden;
    max-width: 500px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.zoom img {
    max-width: 100%;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    border: 7px solid rgba(0, 0, 0, 0.062);
    border-top: 0;
}

.zoom:hover img {
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

/* INÍCIO DAS CONFIGURAÇÕES DA QUESTÃO DE FIXAÇÃO */
/* header da questão de fixação */
#base {
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
}

#puzzle {
    padding-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #505050;
}

#titulo {
    font-weight: bolder;
    font-size: 20px;
    color: rgb(80, 80, 80);

}

.accordion-body {
    background-color: rgb(196, 255, 252);
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    padding-left: 30px;
    margin-left: 5px;
    border: none;
}

h2.accordion-header {
    padding-bottom: 0px;
    border: none;

}

.accordion-item {
    border: none;
}

[data-theme="dark"] .accordion-item {
    background-color: var(--color-dark-100);
}

.accordion-button {
    background-color: #3ce4cb;
    --bs-accordion-active-bg: #3ce4cb;
    --bs-accordion-btn-icon-bg: var(--white);
}

.accordion-button::after {
    color: white;
}

/* começo da questão */

#pergunta-principal {
    /* margin-top: 30px; */
    color: rgb(80, 80, 80);
    border-radius: 10px;
    display: flex;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* botão com respostas */

#botao-resposta {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #3ce4cb;
    font-weight: bold;
    font-size: 15px;
    color: rgb(80, 80, 80);
    padding: 10px 20px;
    border-radius: 20px;

}

#grupo-botao {
    display: grid;
    justify-content: center;
}

#botao-resposta:hover {
    background-color: #33beaa;

}

#titulo:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}


/* modal após resposta do usuário */
/* ajeitei a responsividade  */
img#imagem-acerto {
    width: 450px;
    height: 250px;
}

img#imagem-erro {
    width: 450px;
    height: 250px;
}

@media screen {
    @media(max-width:400px) {
        img#imagem-acerto {
            width: 250px;
            height: 170px;
        }

        img#imagem-erro {
            width: 250px;
            height: 170px;
        }
    }
}

.imagem {
    text-align: center;
    margin-top: -50px;
}

/* header com botao de fechar */
#botao-fechar {
    justify-content: flex-end;
    display: flex;
    position: relative;
    z-index: 5;
}

#header-modal {
    border-bottom: none;
}

/* FIM DAS CONFIGURAÇÕES DA QUESTÃO DE FIXAÇÃO */


/* INÍCIO DO BUTTON BACK TO TOP (JAMILLE) */
#back_to_top {
    position: fixed;
    z-index: 2;
    color: black;
    bottom: 40px;
    right: 30px;
    height: 48px;
    width: 48px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 1.1rem;
    transition: .4s all;
}


#back_to_top #btn_back #icon_up:hover {
    transform: translateY(-3px);
}

#btn_back {
    display: block;
    height: calc(100% - 12px);
    width: calc(100% - 12px);
    background-color: white;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

/* FIM DO BUTTON BACK TO TOP (JAMILLE) */

.Texto {
    cursor: default;
}

.Texto:hover {
    margin-left: 10px;
}

/* BARRA DE PROGRESSO  */
#progress-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10px;
    background: linear-gradient(#03cc65 0%, #03cc65 100%);
    transition: width 0.5s ease-out;
    z-index: 5;
}



/* FOOTER */
footer {
    margin-bottom: 15px;
}